<h1>New Assigned task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.assigned_task_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.assigned_task_path(@conn, :index) %></span>
