<h1>New Assigned user</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.assigned_user_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.assigned_user_path(@conn, :index) %></span>
